/* Injected H1 title style */
h1.page-header {
    font-family: 'Alegreya', 'Palatino', 'Georgia', serif;
    border-bottom: 1px solid var(--sidebar-color);
    padding-bottom: 0.2em;
    margin-top: 0;
    margin-bottom: 0.6em;
    font-size: 1.8em;
    line-height: 1.3;
    color: var(--heading-color);
}

/* Style for horizontally-aligned file containers from MediaWiki */
.mw-halign-left {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
